.people-list {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    margin-bottom: 15px;
    color: #b7dc30;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: black;
    text-align: center;
}

