.info-friends,
  .info-communities {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .list-friends ul,
  .list-communities ul {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-bottom: -56px;
  }
  
  .list-friends li,
  .list-communities li {
    list-style: none;
  }
  
  .list-friends img,
  .list-communities img {
    width: 9.4rem;
    height: 9.4rem;
    border-radius: 7.8rem;
    display: flex;
    margin-left: -23px;
    margin-right: 29px;
    margin-bottom: 9px;
  }
  
  .aside-friends-community {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 54.5rem;
    width: 42rem;;
    margin-right: -39px;
    background: var(--bg-home-sections);
    border-radius: 0.8rem;
    justify-content: start;
  }
  
  .aside-friends-community > div + div::after {
    content: "";
    border-bottom: 0.2rem solid gray;
    display: block;
    opacity: 0.5;
  }
  
  .aside-friends-community > div:nth-child(2)::before {
    content: "";
    border-bottom: 0.2rem solid gray;
    display: block;
    opacity: 0.5;
  }
  
  .aside-friends-community > div:last-child::after {
    content: "";
    border-bottom: none;
    display: block;
  }
  
  .list-column {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    height: 29vh;
    gap: 15px;
  }
  
  .list-column-communities {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    height: 29vh;
    gap: 15px;
  }
  
  .following-list {
    size: 10px;
  }

  .username-follow {
    font-size: 18px;
    color: black;
    margin-left: -8px;
  }

  .see-all {
    color: blue;
    margin-left: 10px;
  }

  a {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: #000000;
    /* size: 31px; */
    text-transform: capitalize;
  }

  .seeall {
    text-decoration:none;
 }