.info-friends,
  .info-communities {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .list-friends ul, .list-communities ul {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-bottom: -56px;
}
  
  .list-friends li,
  .list-communities li {
    list-style: none;
  }
  
  .list-friends img,
  .list-communities img {
    width: 9.4rem;
    height: 9.4rem;
    border-radius: 7.8rem;
    display: flex;
    margin-bottom: 9px;
  }
  
  .aside-friends-community {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 54.5rem;
    width: 42rem;;
    margin-right: -147px;
    background: var(--bg-home-sections);
    border-radius: 0.8rem;
    justify-content: start;
  }
  
  .aside-friends-community > div + div::after {
    content: "";
    border-bottom: 0.2rem solid gray;
    display: block;
    opacity: 0.5;
  }
  
  .aside-friends-community > div:nth-child(2)::before {
    content: "";
    border-bottom: 0.2rem solid gray;
    display: block;
    opacity: 0.5;
  }
  
  .aside-friends-community > div:last-child::after {
    content: "";
    border-bottom: none;
    display: block;
  }
  
  .list-column {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    height: 29vh;
    gap: 15px;
  }
  
  .list-column-communities {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    height: 29vh;
    gap: 15px;
  }
  
  .following-list {
    size: 120px;
  }

  .username-follow {
    font-size: 18px;
    text-align: center;
    color: black;
  }

  .see-all {
    color: blue;
    margin-top: -17px;
    margin-left: 20px;
    text-decoration:none;
}

  a {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: #000000;
    /* size: 31px; */
    text-transform: capitalize;
  }

 .follow-side {
  font-size: 29px;
  margin-top: 11px;
  margin-left: 10px;
}

p.message-no-follow {
  margin-top: 19px;
  margin-left: 12px;
}

.container-emoji {
  margin-top: 87px;
  margin-bottom: -60px;
  margin-left: 150px;
  left: 50%;
  transform: translate(-50%,-50%);
}

.face{
  width:150px;
  height:150px;
  border: 9px solid #bdc3c7;
  border-radius:50%;
  animation: face 7s infinite;
  animation-delay:2s;
  position:relative;
  z-index:9999;
}


.mouth{
  height:10px;
  width:35px;
  margin: 0 auto;
  margin-top: 15px;
  background-color:#bdc3c7;
  animation: mouth 7s infinite;
  animation-delay:2s;
}

.tear{
  position:absolute;
  background-color: #3498db;
  height:0px;
  width:45px;
  top:62px;
  left:29px;
  border-bottom-left-radius:50%;
  animation: tear 7s infinite;
  animation-delay:2s;
}

.tear2{
  position:absolute;
  background-color: #3498db;
  height:0px;
  width:45px;
  top:62px;
  left:98px;
  border-bottom-right-radius:50%;
  animation: tear 7s infinite;
  animation-delay:2s;
}

.eye{
  height:10px;
  width:45px;
  background-color:#bdc3c7;
  display:inline-block;
  margin-left:20px;
  margin-top:20px;
  animation: cry 7s infinite;
  animation-delay:2s;
}

.eyebrow{
  width:30px;
  font-size:40px;
  font-weight:bold;
  color:#bdc3c7;
  display:inline-block;
  margin-left:27px;
  margin-top: 10px;
  opacity:0;
  animation: eyebrow 7s infinite;
  animation-delay:2s;
}

.eyebrow:nth-child(1){
  transform:rotate(-20deg);
}

.eyebrow:nth-child(2){
  transform:rotate(20deg);
}

@keyframes mouth{
  10%{height:30px;width:25px; border:6px solid black;border-radius:50%;margin-top:-8px;}
  50%{height:30px;width:25px; border:6px solid black;border-radius:50%;margin-top:-8px;}
  60%{height:10px;width:35px;border-radius:0%;border:none;margin-top:15px;}
}

@keyframes cry{
  10%{transform:translateY(-34px);background-color:black;}
  50%{transform:translateY(-34px);background-color:black;}
  60%{background-color:#bdc3c7;transform:translateY(0px);}
}

@keyframes eyebrow{
  10%{opacity:1;color:black;}
  50%{opacity:1;color:black;}
  60%{opacity:0;}
}

@keyframes face{
  10%{border-color:black;}
  50%{border-color:black;}
  60%{border-color:#bdc3c7;}
}

@keyframes tear{
  10%{height:96px;}
  50%{height:96px;}
  52%{height:0px;}
}