
.register-title {
    color: rgb(241 239 239);
        margin: 11px -148px 1rem -1px;
        padding: 0;
        font-size: 1.9rem;
        width: 400px;
}

.form-register {
    position: absolute;
    top: 48%;
    left: 57%;
    transform: translate(-50%, -50%);
}



.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    

    button.button-register {
        width: 91px;
        margin-left: 71px;
        border-radius: 30px;
        color: #fff;
        background-color: #333;
        border-color: #e4e4e4;
        font-size: 16px;
        --bs-btn-hover-bg: #0a933e;
        margin-top: 24px;
    }

        .inside-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 7px solid #55555524;
            width: 285px;
            height: 644px;
            border-radius: 19px;
            background-color: #190c0c9e;
            margin-left: -128px;
        }

        .form-label {
            color: whitesmoke;
            font-size: 16px;
            margin: 3px 0;
            margin-bottom: 9px;
            margin-top: 11px;
        }