body {
    width: 100vw;
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    background: var(--bg);
    justify-content: flex-start;
    align-items: stretch;
  }