
.navbar-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #4a4860;
  z-index: 10000;
  border-bottom: 4px solid #323042;
  height: 62px;

}
.ul-navbar {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media all and (min-width: 545px) {
  .ul-navbar {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: row;
 }
}
.nav-item {
  display: none;
}
@media all and (min-width: 545px) {
  .nav-item {
    display: block;
 }
}
.custom-class {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 0.7em;
  color: #9fd2f0;
  text-align: center;
  padding: 14px 30px;
  transition: background 0.25s, box-shadow 0.15s;
}
.custom-class:hover {
  color: #4a4860;
  background: #9fd2f0;
  box-shadow: 0px 4px 0px 0px #648cb7;
}
@media all and (min-width: 545px) {
  .custom-class {
    padding: 20px;
 }
}

.logo-nav {
  font-family: 'Indie Flower', cursive;
  font-size: 42px;
  -webkit-text-stroke-color: black;
  color: #b7dc30;
  -webkit-text-stroke-width: 0.3px;
  margin-top: -10px;
  margin-left: -10px;
}

#logo {
  float: left;
  

}

.nav-item-logout {
  float: right;

}